body {
	background: #d9d9d9;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cursor_pointer {
	cursor: pointer;
}

a {
	color: #1c86af;
	text-decoration: none;
}

a:hover {
	color: #666;
	text-decoration: none;
}

.panel-primary .panel-heading a {
	color: #fff;
}

.container#main {
    width: auto;
    max-width: 1000px;
	padding: 0px;
}

.container#cols {
	width: 100%;
	border-top: 2px solid #92c3d2;
	border-bottom: 5px solid #0079a6;
}

.drop-shadow {
	-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
}

.white-bg {
	background-color: #ffffff;
}

.blue-bg {
	background-color: #015673;
}

.top-first-line {
	width: 100%;
	height: 5px;
}

.top-second-line {
	width: 100%;
	height: 20px;
}

.content {
	min-height: 300px;
	padding: 15px;
	border-left: 2px dotted #92c3d2;
}

.language-block {
	text-align: center;
	margin-top: 20px;
	color: #aaa;
	font-size: 10pt;
}

.language-block a {
	color: #666;
}

.paginator-block {
	text-align: center;
}

.header .menu {
	text-align: right;
	list-style: none;
	text-transform: uppercase;
	font-size: 7pt;
	margin: 15px 15px 0 0;
}

.header .menu>li {
	display: inline-block;
	margin: 0 7px;
}

.header .menu a.active {
	text-decoration: underline;
}

.left {
	padding: 0px;
}

.left .menu {
	vertical-align: baseline;
	clear: both;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu li a {
	position: relative;
	display: block;
}

.orderby {
	margin-left: 5px;
	font-size: 10px;
}

#input_weight {
	width: 60px;
}

.left .menu li {
	list-style: none;
	list-style-image: none;
	list-style-position: outside;
	line-height: 2.5em;
	font-size: 9pt;
}

.left .menu a,
.left .menu a:visited {
	font-weight: bold;
	text-transform: uppercase;
	color: #0190c8;
	padding-left: 25px!important;
	border-bottom: 1px solid #ccc;
}

.left .menu li li a {
	border-bottom: 1px dotted #ccc;
}

.left .menu li a.active,
.left .menu li a.active:visited {
	color: #fff;
}

/* Level 1 */
.left .menu li.expanded a {
	background-image: url('img/expanded.png');
	background-repeat: no-repeat;
	padding-left: 25px!important;
	background-position: 175px 50%;
	padding-right: 10px;
}

.left .menu li.collapsed a {
	background-image: url('img/collapsed.png');
	background-repeat: no-repeat;
	background-position: 175px 50%;
	padding-right: 30px;
	padding-left: 25px!important;
}

/* Level 2 */
.left .menu li li.collapsed a,
.left .menu li li.expanded a,
.left .menu li li.leaf a {
	padding-left: 40px!important;
	color: #666;
	line-height: 2.3em;
	font-size: 8pt;
}

.left .menu li li.leaf a {
	background-image: none;
}

/* Level 3 */
.left .menu li li li.collapsed a,
.left .menu li li li.expanded a,
.left .menu li li li.leaf a {
	padding-left: 50px!important;
	color: #666;
	line-height: 2.3em;
	font-size: 8pt;
}

.left .menu li li li.leaf a {
	background-image: none;
}

/* Level 4 */
.left .menu li li li li.collapsed a,
.left .menu li li li li.expanded a,
.left .menu li li li li.leaf a {
	padding-left: 60px!important;
	color: #666;
	line-height: 2.3em;
	font-size: 8pt;
}

.left .menu li li li li.leaf a {
	background-image: none;
}

/* Leaf */

/* Hover/Active */
.left .menu li.expanded a:hover,
.left .menu li.collapsed a:hover,
.left .menu li.leaf a:hover,
.left .menu a:hover,
.left .menu a.active {
	background: #0190c8;
	color: #fff!important;
}

.left .menu a.active {
	background: #0190c8 url('img/active.png') no-repeat 5px 50%!important;
}

.left .menu li li:last-child a {
  border-color: #ddd;
}

.left ul li {
  color: #888;
}

.file-extensions {
	font-size: 8pt;
	color: #aaa;
}

ul.files {
	list-style: none;
	padding: 0;
}

ul.files li {
	padding-bottom: 5px;
}

ul.file {
	margin: 0;
	padding: 0 0 0 20px;
}

ul.file .list-group-item {
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

ul.file li.name {
	text-align: left;
}

ul.file li.extension {
	text-transform: uppercase;
}

.list-group-horizontal .list-group-item {
	display: inline-block;
}
.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
}

.table>tbody>tr.urgent>td, .table>tbody>tr.urgent>th, .table>tbody>tr>td.urgent, .table>tbody>tr>th.urgent, .table>tfoot>tr.urgent>td, .table>tfoot>tr.urgent>th, .table>tfoot>tr>td.urgent, .table>tfoot>tr>th.urgent, .table>thead>tr.urgent>td, .table>thead>tr.urgent>th, .table>thead>tr>td.urgent, .table>thead>tr>th.urgent {
	background-color: #ff7d89;
}

.filter-dialog {
	width: 750px;
}